{
  "notifications": [
    "slack"
  ],
  "publishCommand": [
    "gcloud",
    "preview",
    "docker",
    "push"
  ],
  "server": {
    "port": 8080,
    "tls": false,
    "certFile": "cert.pem",
    "keyFile": "key.pem"
  },
  "registryUrl": "gcr.io/your_project_name",
  "slack": {
    "channel": "#channelname",
    "username": "stevedore-bot",
    "webhook": "https://hooks.slack.com/services/<code>/<code>/<code>"
  }
}
