{
  "notifications": [
    "slack"
    ],
    "slack": {
      "channel": "#channelname",
      "username": "stevedore-bot",
      "webhook": "https://hooks.slack.com/services/<code>/<code>/<code>"
    },
    "publishCommand": [
      "gcloud",
    "preview",
    "docker",
    "push"
      ],
    "registryUrl": "gcr.io/your_project_name"
}
